.nav-menu ul {
    margin: 0;
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

.nav-menu ul a {
    display: block;
    padding: .5rem 1rem;
    color: inherit;
}